@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

body {
	background-color: #eef3f4;
	font-family: 'Noto Sans JP', sans-serif;
	color: rgb(88, 88, 88);
}

a{
	color: #3280e7;
}

.succes {
	width: max-content;
	padding: 5px 15px;
	color: #3280e7;
	border: solid 3px #3280e7;
    border-radius: 5px;
}
.title {
	text-align: center;
	padding: 0;
	margin: 0;
	font-weight: bold;
	font-size: 25px;
}

hr {
	width: 35%;
	margin: 0 auto;
	height: 2px;
	background-color: rgba(0, 0, 0, 0.212);
	border:none;
	margin-bottom: 45px;
}

.sub-title {
	text-align: left;
	font-size: 15px;
	margin: 0;
	margin-bottom: 10px;
}

.sub-title:nth-child(1) {
	margin-top: 25px;
}

.input-name {
	width: 100%;
	height: 25px;
	border: 1px solid rgba(236, 234, 234, 0.568);
    border-radius: 5px;
}

textarea {
	width: 100%;
	border: 1px solid rgba(236, 234, 234, 0.568);
    border-radius: 5px;
}

.form-block {
	text-align: center;
	margin: 0 auto;
	width: 85%;
}

.error {
	margin: 0px;
	font-size: 90%;
	text-align: left;
	color: #BB1850;
}

.submit-button {
	background-color: #333;
	border: 2px solid #333;
	color: #fff;
	padding: 5px 5px;
	margin: 15px 15px;
	border-radius: 5px;
	width: 200px;
}
.submit-button:hover {
	background-color: #fff;
	border-color: #59b1eb;
	color: #59b1eb;
}

hr:nth-child(2) {
	width: 85%;
}

.list-block {
	width: 85%;
	margin: 0 auto;
	border-radius: 5px;
}

.list-item {
	background-color: #fff;
	overflow-wrap: break-word;
	padding-left: 15px;
	padding-right: 15px;
}

.list-title {
	display: flex;
	padding-top: 15px;
}

.list-title p {
	margin: 0;
	padding: 0;
}

.list-title p:nth-child(1) {
	font-size: 18px;
	color: rgb(3, 1, 1);
}

.list-title p:nth-child(2) {
	margin-left: 10px;
	font-size: 10px;
	line-height: 28px;
}
.list-title a {
	padding-left: 10px;
}

.list-content {
	padding-bottom: 5px;
}